.big-separator

.row
  .large-12.columns
    .alert-div.panel.radius
      - if @pending.any?
        = render partial: 'pending_estimate'
      - else
        .no-tickets
          = image_tag 'beer.png', width: '120px', height: '120px'
          Nice! You don't have any ticket to estimate.

.row
  .large-12.columns
    .light.panel.radius
      = render 'list', dashboard: true

.row
  .large-6.large-offset-3.columns
    .panel.radius
      = render 'small_form'
